@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.line-clamp-2 {
  /* Fallback for older browsers: max-height based on line height */
  max-height: 3.2em; /* 2 lines * 1.6 line-height */
  overflow: hidden;

  /* WebKit-based browsers (Chrome, Safari) */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  /* Standard syntax (future-proofing) */
  display: box;
  box-orient: vertical;
  line-clamp: 2;

  /* Ensuring ellipsis for overflowing text */
  text-overflow: ellipsis;
  white-space: normal;
}
